/* Google Fonts imports. */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* Global Styles */
:host {
  /* Host style variables (light theme) */
  --background: 0 0% 100%;
  --foreground: 240 10% 3.9%;
  --card: var(--background);
  --card-foreground: var(--foreground);
  --popover: var(--background);
  --popover-foreground: var(--foreground);

  --primary: 171 58% 48%;
  --primary-foreground: 171 100% 98%;

  --secondary: 240 4.8% 95.9%;
  --secondary-foreground: 240 5.9% 10%;

  --muted: 240 4.8% 95.9%;
  --muted-foreground: 240 3.8% 46.1%;

  --accent: 171 58% 48%;
  --accent-foreground: 240 5.9% 10%;

  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 0 0% 98%;

  --border: 240 5.9% 90%;
  --input: 240 5.9% 90%;
  --ring: var(--primary);
  --radius: 0.5rem;
  --radius-md: 0.375rem;
  --radius-sm: 0.125rem;

  --font-family: "Inter", sans-serif;

  --primary-50: 171 58% 95%;
  --primary-100: 171 58% 85%;
  --primary-200: 171 58% 75%;
  --primary-300: 171 58% 65%;
  --primary-400: 171 58% 55%;
  --primary-500: 171 58% 48%; /* Base primary color */
  --primary-600: 171 58% 42%;
  --primary-700: 171 58% 35%;
  --primary-800: 171 58% 28%;
  --primary-900: 171 58% 20%;

  --border-50: 240 5.9% 97%;
  --border-100: 240 5.9% 90%;
  --border-200: 240 5.9% 80%;
  --border-300: 240 5.9% 70%;
  --border-400: 240 5.9% 60%;
  --border-500: 240 5.9% 50%;
  --border-600: 240 5.9% 40%;
  --border-700: 240 5.9% 30%;
  --border-800: 240 5.9% 20%;
  --border-900: 240 5.9% 10%;

  /* Host Global style */
  position: fixed;
  top: 20px;
  right: -100%;
  z-index: 9999;
  width: 450px;
  height: 850px;

  background-color: hsl(var(--background));
  color: hsl(var(--foreground));

  border-width: 1px;
  border-color: hsl(var(--border));
  border-top-left-radius: var(--radius);
  border-bottom-left-radius: var(--radius);

  box-shadow: 0 0 10px 0 hsla(var(--foreground), 0.1);

  transition: right 0.3s ease-in-out;

  font-family: var(--font-family);
}

:host.dark {
  /* Host style variables (dark theme) */
  --background: 240 10% 10%;
  --foreground: 0 0% 95%;
  --card: 240 9.8% 10%;
  --card-foreground: 0 0% 95%;
  --popover: 240 10% 10%;
  --popover-foreground: 0 0% 95%;

  /* Primary color variants for dark mode */
  --primary-50: 171 58% 95%;
  --primary-100: 171 58% 85%;
  --primary-200: 171 58% 75%;
  --primary-300: 171 58% 65%;
  --primary-400: 171 58% 55%;
  --primary-500: 171 58% 48%;
  --primary-600: 171 58% 42%;
  --primary-700: 171 58% 35%;
  --primary-800: 171 58% 28%;
  --primary-900: 171 58% 20%;

  --secondary: 240 3.7% 15.9%;
  --secondary-foreground: 0 0% 98%;
  --muted: 0 0% 15%;
  --muted-foreground: 240 5% 64.9%;
  --accent: var(--primary-500);
  --accent-foreground: 0 0% 98%;

  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 0 85.7% 97.3%;
  --border: 240 3.7% 15.9%;
  --input: 240 3.7% 15.9%;
  --ring: var(--primary-500);
}

:host([state="open"]) {
  right: 0;
}

:host([state="closed"]) {
  right: -100%;
}

/* ----------------- */
/* Components Styles */
/* ----------------- */

/* Button Component */
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 500;
  border-radius: var(--radius-md);
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  text-align: center;
  box-shadow: none;
}

.btn-default {
  background-color: hsl(var(--primary-500));
  color: hsl(var(--primary-50));
  border: none;
}

.btn-default:hover {
  background-color: hsl(var(--primary-500) / 90%);
}

/* Destructive variant */
.btn-destructive {
  background-color: hsl(var(--destructive));
  color: hsl(var(--primary-50));
  border: none;
}

.btn-destructive:hover {
  background-color: hsl(var(--destructive) / 90%);
}

/* Outline variant */
.btn-outline {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
  border: 1px solid hsl(var(--border-200));
}

.btn-outline:hover {
  background-color: hsl(var(--border-50));
  color: hsl(var(--foreground));
}

/* Secondary variant */
.btn-secondary {
  background-color: #6c757d;
  color: #fff;
  border: none;
}

.btn-secondary:hover {
  background-color: #5a6268;
}

/* Ghost variant */
.btn-ghost {
  background-color: transparent;
  color: #333;
}

.btn-ghost:hover {
  background-color: #f8f9fa;
}

/* Link variant */
.btn-link {
  background-color: transparent;
  color: #007bff;
  text-decoration: underline;
}

.btn-link:hover {
  color: #0056b3;
}

/* Sizes */
.btn-default-size {
  height: 40px;
  padding: 0 16px;
}

.btn-sm {
  height: 36px;
  padding: 0 12px;
  font-size: 0.875rem;
}

.btn-lg {
  height: 44px;
  padding: 0 24px;
  font-size: 1.125rem;
}

.btn-icon {
  height: fit-content;
  width: fit-content;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
